{% extends "base.html" %}

{% block title %}
    <title>Account</title>
{% endblock title %}

{% block content %}
    {% if current_user.is_authenticated %}
        <p>
            Hello {{ current_user.username }}
            {{ current_user.id }}
        </p>
        <p>Profile picture</p>
        <img src="{{ current_user.profile_pic }}" alt="" height="150px" width="150px">
        <br>
        <hr>
        <a href="{{ url_for('auth.logout') }}">+Logout</a>
    {% else %}
        <a href="{{ url_for('auth.login') }}">+Login</a>
    {% endif %}
{% endblock content %}