[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
flask-wtf = "*"
pillow = "*"
gunicorn = "*"
boto3 = "*"
python-dotenv = "*"
requests = "*"
pytest = "*"
coverage = "*"

[dev-packages]
[requires]
python_version = "3.8"
