@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* background image*/
body {
    background-image: url("./photos/wheat-field-gc9fc78561_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Poiret One', cursive;
}
/* logo image*/
.brand {
    text-align: center;
    padding: 10px 10px;
}
.logo {
    width: 100px;
    margin-top: 1rem;
}

/* Navigation bar*/
.nav {
    text-align: center;
    font-size: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15px;
}

.nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 12px 12px;
    color: rgb(73, 38, 90);
    margin-right: 5px;
}
.nav-link:hover {
    text-decoration: none;
    color: rgb(46, 16, 46);
    border-bottom: 2px solid rgb(115, 57, 123);
}


.nav-link.current {
    border-bottom: 1px solid rgb(115, 57, 123);
}
@media (min-width: 768px) {
    .nav {
        font-size: 1.1rem;
        padding: 10px;
        padding-right: 10px;
    }
    .nav-link {
        padding: 20px 20px;
    }
}

/* Home screen*/
.home-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(239, 236, 240);
}
h1 {
    font-size:4vw;
    font-weight: bolder;
    color: white;
}

/*Footer*/
#footer-content {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(19, 18, 17);
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;

}

.footer-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px; 
    height: 100px;
    font-size: 25px;
}
.media{
    width: 40px; height: 40px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 8px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: rgb(205, 157, 245);
    
}
.media:hover{
    transform: scale(1.5) translateY(-15px);
}


