@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Ubuntu:wght@500&display=swap');

#section-img {
    width: 349px;
    /* height: 233px; */
    height: 200px;
}
.school-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}
.school-content{
    margin: 10px;
    background: rgba(114, 117, 114, 0.7);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.text-container{
    inline-size: 349px;
    overflow: hidden;
    padding: 5px;
}
