{% extends 'base.html' %}

{% block content %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/school.css' )}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/article.css' ) }}">
<link href="https://unpkg.com/aos@2.4.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.4.1/dist/aos.js"></script>
{% endblock styles %}

<div class="form-class">
    <form action="" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="exampleFormControlFile1" id="text">Upload file</label>
            <input type="file" class="form-control-file" id="text" name="file">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1" id="text">Article title </label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Article title..." name="name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn-secondary" id="text">Submit</button>
        </div>
    </form>
</div>

{% endblock content %}


