<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Hello there, you made it</h3>

    {% for book in books %}
     {{ book.name }}
     {{ book.photo }}
     {{ book.price }}
     <p>
         <a href="{{ url_for('home.update_books', id=book.id) }}">+Update book</a>
     </p>
    {% endfor %}
</body>
</html>