{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/school.css') }}">
{% endblock styles %}
{% block title %}
<title>Online School of the prophets.</title>
{% endblock title %}

{% block content %}
<div class="school-container">
    <div class="school-content animate__animated animate__zoomIn">
        <iframe id="section-img" 
            src="https://www.youtube.com/embed/chgEsFGvt5M?list=PLJZOHLq9obNYXJRWMT2kN8a_sEeIRUhTf" 
            title="Mark Bruce - An Overview of the Reform Lines" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
        <div class="text-container">
            <p id="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <br>
            <a href="https://www.youtube.com/channel/UCRl3hHCwDRH2CwbV2jwjlQA" target="_blank">
                <em>More Videos</em>  
            </a>
        </div>
    </div>
    <div class="school-content animate__animated animate__zoomIn">
        <img src="{{ url_for('static', filename='photos/periodicals.jpg' )}}"   alt="" id="section-img">
        <div class="text-container">
            <p id="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <br>
            <a href="{{url_for('home.list_documents') }}">
                <em>See Newsletters and Articles</em> 
            </a>
        </div>
    </div>
    <div class="school-content animate__animated animate__zoomIn">
        <img src="{{ url_for('static', filename='photos/mountain.jpg') }}" alt="" id="section-img">
        <div class="text-container">
            <p id="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <br>
            <a href="{{ url_for('school.school_home' ) }}"> <em>Enroll Now</em></a>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}