{% extends "base.html" %}

{% block content %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/support.css')}}">
{% endblock styles %}
<div class="charity-icon">
    <img src="{{url_for('static', filename='photos/donate.svg' )}}" alt="" class="donate-img animate__animated animate__heartBeat">
</div>
<div class="support-container animate__animated animate__zoomIn">

    <div class="details">
        <p id="text">
            Saith the Lord, “Them that honor Me I will honor.” 1 Samuel 2:30. 
            “God loveth a cheerful giver,” and when His people, with grateful hearts, 
            bring their gifts and offerings to Him, “not grudgingly, or of necessity,” 
            His blessing will attend them, as He has promised. 
            “Bring ye all the tithes into the storehouse, that there may be meat in Mine house, 
            and prove Me now herewith, saith the Lord of hosts, 
            if I will not open you the windows of heaven, and pour you out a blessing, 
            that there shall not be room enough to receive it.” Malachi 3:10. {PP 529.2}
        </p>
    </div>
    <div class="details">
        <section>
            <p id="text">
                If you would like to support our ministry, 
                please send any funds to the bank accounts provided.
                Thank you in advance.
            </p>
        </section>
        <section>
            <p id="text">
                OFFERINGS ACCOUNT.<br>

                BANK: Kenya Commercial Bank(KCB)<br>
    
                NAME: Bread Of Life Health and Agricultural Organization.<br>
    
                ACCOUNT NUMBER: 1292560894
            </p>
        </section>
        <section>
            <p id="text">
                TITHES ACCOUNT<br>

                BANK: Kenya Commercial Bank(KCB)<br>
    
                NAME: Bread Of Life Health and Agricultural Organization.<br>
    
                ACCOUNT NUMBER: 1292559993
            </p>
        </section>
    </div>  
</div>
{% endblock content %}